<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>Vocabulary</title>
</head>

<body>
  <div id="app" class="container-fluid lead">
    <div>
      <div class="sticky-top bg-light">
        <div class="input-group p-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Page no.</span>
          </div>
          <input type="text" aria-label="Page No" class="form-control" v-model="current_page"
            @change='update_current_page(current_page)'>
        </div>
        <pagination class="p-2" @update_page='update_current_page' :current='current_page' :start='1' :size='8'
          :total='total_pages'>
      </div>
      </pagination>
      <session v-for='v in vocabs' :vocab='v' :key='v.id'></session>
    </div>
  </div>
</body>

<script src="./vue-virtual-scroll-list.js"></script>
<script>
  var Pagination = Vue.component('pagination', {
    props: ['current', 'start', 'total', 'size'],
    template: `
      <nav  >
        <ul class="pagination pagination-sm">
          <li class="page-item" @click='previous'><a href='#' class="page-link">&laquo;</a></li>
          <li class="page-item" :class="{active:current == i}" v-for='i in range' @click='update_page_no(i)'><a href='#' class="page-link">{{i}}</a></li>
          <li class="page-item" @click='next' ><a href='#' class="page-link" >&raquo;</a></li>
        </ul>
      </nav>
    `,
    data() {
      return {
        active: false
      }
    },
    computed: {
      range() {
        const list = []
        const width = Math.floor(this.size / 2)
        const adjustment = (this.current - this.start) < width ? width - (this.current - this.start) : 0
        var start_index = this.current - width + adjustment
        start_index = start_index > this.total - this.size ? this.total - this.size + 1 : start_index
        for (let i = start_index; i < start_index + this.size; i++) {
          list.push(i)
        }
        return list
      }
    },
    methods: {
      next() {
        if (this.current < this.total) {
          this.$emit('update_page', this.current + 1)
        }
      },
      previous() {
        if (this.current > 0) {
          this.$emit('update_page', this.current - 1)
        }
      },
      update_page_no(pageNo) {
        this.$emit('update_page', pageNo)
      }
    }
  })

  var CardTitle = Vue.component('card-title', {
    props: ['title', 'ipa', 'id'],
    methods: {
      toggle_show() {
        this.show = !this.show
      }
    },
    data() {
      return {
        show: false
      }
    },
    template: `
      <div class="card-title">
        <h2>
          <span @click='toggle_show' class='badge badge-info'>
            {{id}}
          </span>
          <span v-show='show' class=''>{{title}}</span>
          <small><span class="font-weight-light text-danger" >/{{ipa}}/</span></small>
        </h2>
      </div>
    `
  })

  var Example = Vue.component('example', {
    props: ['chi', 'eng'],
    data() {
      return {
        show: false
      }
    },
    methods: {
      toggle_show() {
        this.show = !this.show
      }
    },
    template: `
    <div>
      <div @click='toggle_show'>
        <span class="badge badge-success">例</span>
        <span>{{chi}}</span>
      </div>
      <div v-show='show'>
        <span class="badge badge-warning">e.g.</span>
        {{eng}}
      </div>
    </div>
    `
  })

  var Session = Vue.component('session', {
    props: ['vocab'],
    components: {
      'example': Example,
      'card-title': CardTitle
    },
    template: `
     <div class="card p-3 my-2">
        <card-title :ipa='vocab.ipa' :title='vocab.title' :id='vocab.id'></card-title>
        <div v-for='(session, s) in vocab.sessions' :key='s'>
          <div v-for='(definition, k) in session[1].slice(0,3)' :key='k'>
            <div class="row border-bottom">
              <div class="col-md-6">
                <span class='badge badge-pill badge-danger'>{{session[0]}}</span>
                <span class='font-weight-light font-italic text-primary'>{{definition[0]}}</span>
              </div>
              <div class="col-md-6">
                <div class="" v-for='(example, n) in definition[1]' :key='n'>
                  <example :chi='example[1]' :eng='example[0]'></example>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    `
  })

  var app = new Vue({
    el: '#app',
    components: {
      'session': Session,
      'pagination': Pagination
    },
    data: {
      vocabs_per_page: 10,
      current_page: 1,
      vocabs: [],
      total_vocabs_length: 0
    },
    computed: {
      total_pages() {
        const { total_vocabs_length, vocabs_per_page } = this
        return Math.floor(total_vocabs_length / vocabs_per_page) + 1
      }
    },
    watch: {
      current_page(val) {
        this.update_vocab_list()
      }
    },
    created() {
      this.update_vocab_list()
    },
    methods: {
      update_current_page(pageNo) {
        this.current_page = pageNo
        this.update_vocab_list()
      },
      update_vocab_list() {
        const vm = this
        fetch("./vocabs.json")
          .then(response => response.json())
          .then(json => {
            vm.total_vocabs_length = json.length
            const range = [vm.current_page - 1, vm.current_page]
            vm.vocabs = json.splice(
              ...range.map(x => x * vm.vocabs_per_page)
            )
          });
      }
    }
  })
</script>

</html>